@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sembunyikan Scrollbar tapi tetap bisa di-scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Tambahkan ini untuk fitur pause saat hover */
.hover\:pause-scroll:hover {
  animation-play-state: paused;
}

/* --- ANIMASI INFINITE SCROLL --- */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Geser -50% karena kita menduplikasi list-nya */
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content; /* Pastikan lebarnya mengikuti konten */
  animation: scroll 40s linear infinite; /* 40 detik per putaran */
}

/* Biar berhenti pas di-hover mouse */
.pause-scroll:hover {
  animation-play-state: paused;
}